<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<img alt="Toddler play" src="http://storage.cloud.appcelerator.com/O1PXfPqYupDDbuJMDvBNVOkXaMphOYCZ/photos/80/1d/51e5590d77b5c90ad734d654/carely_icon%402x_original.png" height="57" width="57">
  	<h2>Toddler play</h2>
  	<p>Discover and share activities for your toddler:</p>
  	<ul>
  		<li>Follow one of the many activity lists: from finger puppets to creative crafts to outdoor activities</li>
  		<li>See photos of exciting activities and get inspired to try something new</li>
  		<li>Ask how-to questions and get helpful tips</li>
  		<li>Connect with friends and share your own activities</li>
  	</ul>
  </body>
</html>